.container {
  max-width: 700px;
  margin: auto;
  padding: 24px;
  font-family: Arial, sans-serif;
}

.dominant {
  margin: 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.bars {
  margin-top: 24px;
}

.bar-wrapper {
  margin-bottom: 20px;
}

.bar-label {
  margin-bottom: 6px;
  font-weight: 500;
  font-weight: bold;
  font-size: 15px;
}

.bar-background {
  width: 100%;
  height: 16px;
  background: #eee;
  border-radius: 8px;
  overflow: hidden;
}

.bar-fill {
  height: 100%;
  transition: width 0.8s ease-in-out;
}

.info-blocks {
  margin-top: 30px;
}

.info {
  margin-bottom: 16px;
  padding: 12px;
  background: #f5f5f5;
  border-radius: 6px;
}
.actions{
  display:flex;
  flex-wrap:wrap;
  margin-top: 24px;
  justify-content: space-between;
}

.btn{
  padding:10px 14px;
  border-radius:10px;
  border: 1px solid #639ae0;
  background:#fff;
  cursor:pointer;
}
.btn.primary{
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #639ae0;
  color: white;
  cursor: pointer;
}

button{
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background-color:#124f7d;
  color: white;
}
.btn.primary:hover {
  background-color: #124f7d;
}
